.text-purple {
    color: #F5145D;
}
.bg-purple {
    background-color: #F5145D;
}
.bg-lumber {
    background-color: #FFE1D5;
}

.container {
    @media (min-width: 992px) {
        max-width: 900px;
    }
}

.line-height-0 {
    line-height: 0;
}

.text-lg-nowrap {
    @media (min-width: 992px) {
        white-space: nowrap;
    }
}

