@font-face {
  font-family: 'MuseoSans-thin';
  src: url(../fonts/MuseoSans-100.otf);
}
@font-face {
  font-family: 'MuseoSans-regular';
  src: url(../fonts/MuseoSans-300.otf);
}
@font-face {
  font-family: 'MuseoSans-medium';
  src: url(../fonts/MuseoSans-500.otf);
}
@font-face {
  font-family: 'MuseoSans-bold';
  src: url(../fonts/MuseoSans-700.otf);
}
@font-face {
  font-family: 'MuseoSans-black';
  src: url(../fonts/MuseoSans-900.ttf);
}
